.Container {
    background-color: #084e05;
    min-height: 100%;
    padding: 3% 10%;
}
.FormSet{
    display: flex;
    flex-direction: column;
    padding: 0px 10%;
    label{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 1% 5px;
    }
    .gameMode{
        flex-direction: row;
        align-items: center;
    }
    span{
        font-size: 20px;
        margin-bottom: 10px;
    }
    input,select{
        outline: none;
        border: none;
        background: transparent;
        border-bottom: 1px solid #3d7d3d;
        color: white;
    }
    option{
        background: #f7e4cb;
    }
}